.container{
    text-align: center;
    margin-top: 150px;
}
.loader{
    width: 30px;
    height: 30px;
    margin: auto;
    border: 4px solid #ffc5c5;
    border-bottom-color: #a62626;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}