.container{
    margin :auto;
    height: 41rem;
    width: 30.5rem;
    background-color: aqua;
    z-index: 30;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid silver;
    border-radius: 5px;
    position: relative;
}
.navbarCollapse{
    position: fixed;
    top:0;
    left: 0;
    z-index: 20;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(20,21,26,.57);
    backdrop-filter: blur(3px);
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding : 10px;
}
.header button{
    font-size: 0.8rem;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: #fff;
    color: #a62626;
    border-radius: 10px;
}
.header button:hover{
    background-color:rgba(247, 214, 214, 0.5) ;
}
.input{
    margin : 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding : 10px;
}
.delete{
    font-size: 0.7rem;
    padding : 0 5px;
    display: flex;
    border: 1px solid red;
    border-radius: 30px;
    width: fit-content;
    margin-bottom: 20px;
    background-color:rgba(247, 214, 214, 0.5) ;
}
.delete button{
    color: #a62626;
    padding-right: 5px;
    border:none;
    outline: none;
    background-color: initial;
}
.delete span{
    color: #a62626;
    width: 3rem;
}

.input input{
    padding: 10px;
    outline: none;
    width: 80%;
    color: silver;
    border: 1px solid silver;
    font-size: 1rem;
    border-radius: 5px;
}
.input input:hover{
    border: 2px solid red;
}
.footer{
    background-color: #fff;
    position: absolute;
     bottom:0;
     padding: 10px;
     border-top: 1px solid silver;
     width: 100%;
     display: flex;
     justify-content: space-between;
}
.footer button{
    width: 45%;
    padding: 5px 0;
    font-size: 1rem;
}
.footer button:nth-child(1){
   border: 1px solid silver;
   border-radius: 5px;
}
.footer button:nth-child(2){
    border: none;
    border-radius: 5px;
    background-color: #a62626;
    color: #fff;
 }
 .country{
    margin: 20px 30px;
    margin-bottom: 60px;
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
     font-size: 1.1rem;
     color: black;
 }
 .country div {
    padding: 20px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid silver;
 }
 .country div:last-child{
    border: none;
 }
 .country div  img{
    width: 15px;
 }