.list{
    margin: 50px 0 70px;
}
.list div{
    display: flex;
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #aaeaea;
    border-radius: 5px;

}
.list h5{
    margin-right: 10px;
    font-size: 0.9rem;
    width: 120px;
}
.list p{
    width: 100%;
    text-align: left;
    color: #a62626;
}
.list button{
    background-color: #a62626;
    color: #fff;
    padding: 0px 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition:color 0.3s linear;
}
.list button:hover{
   opacity: 0.5;
}