.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: calc(100%-300px);
}
.card{
    width: 330px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaeaea;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}
.card img{
    width: 150px;
    height: 130px;
    border-radius: 3px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info div{
    color: grey;
    font-size: 0.9rem;
}
.button a{ 
    background-color: #a62626;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.button a:hover{
    opacity: 0.5;
}

 @media(max-width:555px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .card img{
        width: 100px;
        height: 90px;
    }
    .card p{
        font-size: 0.9rem;
    }
    .info div{
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
 }