.list h3{
    margin: 60px 0 30px;
    border-bottom: 3px solid #a62626;
    width: fit-content;
    padding-bottom: 5px;
}
.post{
    display: flex;
    align-items: center;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
}
.post img{
    width: 100px;
    height: 70px;
    border-radius: 3px;
    margin-left: 30px;
}
.post div{
    width: 100%;
}
.post p{
    font-size: 0.9rem;
}
.post span{
    font-size: 0.8rem;
    color: grey;
}
.post .price{
    width: 150px;
    text-align: center;
}
.list button{
    width: 100px;
    background-color: #a62626;
    color: #fff;
    padding: 0px 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition:color 0.3s linear;
}
.list button:hover{
   opacity: 0.5;
}
@media(max-width:768px){
    .post p{
        font-size: 0.8rem ;
    }
    .post span{
        font-size: 0.7rem;
    }
 }
 @media(max-width:555px){
    .post{
        display: flex;
        flex-direction: column;
    }
    .post .price{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .list button{
        width: 50%;
        margin-bottom: 20px;
    }
    .post img{
        margin: 20px;
    }
 }