.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 150px 50px;
    padding: 20px;
    border: 1px solid silver;
    background-color: #fff;
    border-radius: 10px;
}
.image{
    width: 450px;
}
.textContainer{
    text-align: center;
    margin-left: 30px;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
}
.textContainer h3 {
    color: #a62626;
    margin: 30px 0px 30px;
}
.description{
    color: grey;
    margin-bottom: 30px;
}
.category{
    color: gray;
    font-weight: bold;
    margin-bottom: 50px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer button {
    border: none;
    margin-top: 15px;
    display: inline-block;
    background: #a62626;
    padding: 7px 16px;
    color:#fff;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    transition:  all 0.2s ease;
}
.buttonContainer button:hover{
    opacity: 0.5;
}
.buttonContainer a{
    color: grey;
    text-decoration: none;
    border: none;
    margin-top: 5px;
    font-size: 0.9rem;
    display: inline-block;
    padding: 7px 16px;
    margin-bottom: 20px;
    border: 1px solid silver;
    border-radius: 5px;
    transition:  all 0.2s ease;
}
.buttonContainer a:hover{
    color: #a62626;
}
@media(max-width:1200px){
    .container{
        margin: 120px 80px 50px;
    }
}
@media(max-width:1024px){
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .image{
        width: 170px;
        margin-bottom: 50px;
    }
    .textContainer{
        margin: 0;
    }
}
@media(max-width:768px){
    .container{
        margin: 120px 40px 50px;
        justify-content: center;
    }
    .textContainer{
        margin: 0;
    }
}
@media(max-width:555px){
    .container{
        margin: 120px 20px 50px;
        justify-content: center;
    }
    .textContainer{
        margin: 0;
    }
}