.form{
    height: fit-content;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 30px;
}
.form p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.span{
     color:red !important;
     font-size:1.1rem !important;
     font-weight:400 !important;
}
.form span{
    color: grey;
    font-size: 0.8rem;
    margin-bottom: 20px;
}
.form input{
    margin: 10px 0 20px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}
.form button{
    width: 70px;
    padding: 5px 10px;
    border: none;
    background-color: #a62626;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:768px){
   .form{
    max-width: 400px;
   }
   .form p{
    font-size: 0.9rem;
   }
   .form span{
    font-size: 0.7rem;
   }
   .span{
    font-size:0.9rem !important;
    font-weight:400 !important;
}
}
@media(max-width:555px){
    .form{
        margin-top: 30px;
    }
    .form button{
        width: 100%;
    }
}