.sidebar{
    margin-top: 30px;
    width: 300px;
}
.sidebar li{
    display: flex;
    width: 160px;
    margin: 20px 0px;
}
.sidebar li p{
    font-weight: 200;
    margin-right:10px ;
    color: grey;
}
@media(max-width:768px){
    .sidebar h4{
        font-size: 0.9rem;
    }
    .sidebar li{
        font-size: 0.8rem;
    }
 }
 @media(max-width:555px){
    .sidebar h4{
        font-size: 1.1rem;
    }
    .sidebar li{
        font-size: 0.9rem;
    }
 }