.footer{
    align-items: center;
    direction: ltr;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 2px solid rgb(234, 234, 234);
}
@media(max-width:768px){
    .footer p{
        font-size: 0.9rem;
    }
 }
 @media(max-width:555px){
   .footer p{
    font-size: 0.8rem;
   }
 }