.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(234, 234, 234);
    padding: 10px 10px;
    margin-bottom: 20px;
}
.logo{
    width: 45px;
    margin-left: 40px;
}
.header div{
    display: flex;
}
.header span{
    display: flex;
    align-items: center;
    color: grey;
    height: 50px;
}
.header span p{
    margin-right: 5px;
    font-size: 0.9rem;
}
.button{
    background-color: #a62626;
    color: #fff;
    height: 40px;
    width: 80px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-right: 40px;
}
.menu{
    width: 300px;
    height: 500px;
}
@media(max-width:768px){
    .logo{
        width: 40px;
    }
    .header span p{
        font-size: 0.8rem;
    }
 }
 @media(max-width:555px){
    .header{
       display: flex;
       align-items: center;
       justify-items: center;
       margin-bottom: 10px;
       padding: 5px 5px;
    }
    .header span p{
        font-size: 0.78rem;
    }
    .button{
        height: 40px;
        width: 80px;
        line-height: 40px;
        font-size: 0.78rem;
    }
 }