.main{
    width: 250px;
    position: absolute;
    top: 60px;
    left: -70px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 10px;
    border: 1px solid rgb(234, 234, 234);
    z-index: 20;
    background-color: #fff;
}
.main div{
    width: 100%;
    padding: 20px 30px;
    border-bottom:1px solid rgb(234, 234, 234); ;
}
.main div p{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: grey;
}
.main span{
    font-size: 0.8rem;
    color: gray;
    padding-top: 50px;
}
.img{
    width: 20px;
    margin-left: 5px;
}